/* Categories Page */

.categories {
    height: 100%;
    width: 100%;
}

.categories-title {
    margin-left: 1%;
}

.categories-header {
    display: flex;
    flex-direction: row;
}

.add-update-category-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px
}

.add-update-category-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-update-category-title {
    font-size: 30px
}

.category-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px
}

/* Procedures */
.procedures {
    height: 100%;
    width: 100%;
}

.procedures-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.procedures-title {
    margin-left: 1%;
}

.procedures-divider {
    color: black;
    margin: 0;
}

.procedures-list {
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* max-height: 100%; */
    overflow: auto;
    align-items: center;
    height: 93.8%;
    width: 100%;
}

.procedure-container {
    min-height: 250px;
    width: 80%;
    display: flex;
    row-gap: 20px;
    padding: 10px;
    flex-direction: column;
    /* margin-top: 5px; */
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(133, 133, 133);
    margin-top: 1%;
    margin-bottom: 1%
}

.procedure-title-row {
    display: flex;
    width: 70%;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 2%;
}

.procedure-description-row {
    display: flex;
    width: 70%;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 2%;
}

.procedure-title {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 28px;
    font-weight: bold;
}

.procedure-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.procedure-description {
    margin-left: 1%;
}

.procedures-back-btn-link {
    text-decoration: none;
    width: 3%;
    height: 70%;
    /* margin-top: 25px;
    margin-bottom: 10px; */
    margin-left: 1%;
}

.procedure-add-btn {
    background-color: rgb(223, 202, 20);
    border-color: rgba(0, 0, 0, 0.24);
    color: #000000;
    border-radius: 12px;
    width: 8%;
    height: 75%;
    font-size: 14px;
    font-weight: bold;
    margin-right: 3%;
}

.procedures-back-btn {
    width: 100%;
    height: 100%;
}

.add-update-procedure-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-update-procedure-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px
}

.add-update-procedure-title {
    font-size: 30px
}

.add-update-procedure-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.add-update-procedure-back-btn {
    width: 80px
}

.add-update-procedure-back-btn-invisible {
    width: 80px
}

.add-update-procedure-title-input {
    width: 500px;
    height: 50px;
    font-size: 15px;
    border: 1px solid #ddd;
}

.add-update-procedure-title-input-error {
    width: 500px;
    height: 50px;
    font-size: 15px;
    border: 1px solid #ff0000;
}

.add-update-procedure-description-input {
    width: 500px;
    height: 800px;
    font-size: 15px;
    border: 1px solid #ddd;
}

.add-update-procedure-description-input-error {
    width: 500px;
    min-height: 800px;
    font-size: 15px;
    border: 1px solid #ff0000;

}

/* Failures */
.failures {
    height: 100%;
    width: 100%;
}

.failures-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.failures-title {
    margin-left: 1%;
}

.failures-divider {
    color: black;
    margin: 0;
}

.failures-list {
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* max-height: 100%; */
    overflow: auto;
    align-items: center;
    height: 93.8%;
    width: 100%;
}

.failures-container {
    min-height: 250px;
    width: 80%;
    display: flex;
    row-gap: 20px;
    padding: 10px;
    flex-direction: column;
    /* margin-top: 5px; */
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(133, 133, 133);
    margin-top: 1%;
    margin-bottom: 1%
}

.failures-title-row {
    display: flex;
    width: 70%;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 2%;
}

.failures-description-row {
    display: flex;
    width: 70%;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 2%;
}

.failures-title {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 28px;
    font-weight: bold;
}

.failures-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.failures-observation {
    margin-left: 1%;
}

.failures-cause {
    margin-left: 1%;
}

.failures-back-btn-link {
    text-decoration: none;
    width: 3%;
    height: 70%;
    /* margin-top: 25px;
    margin-bottom: 10px; */
    margin-left: 1%;
}

.failures-add-btn {
    background-color: rgb(223, 202, 20);
    border-color: rgba(0, 0, 0, 0.24);
    color: #000000;
    border-radius: 12px;
    width: 8%;
    height: 75%;
    font-size: 14px;
    font-weight: bold;
    margin-right: 3%;
}

.failures-back-btn {
    width: 100%;
    height: 100%;
}

.procedure-failure-row-inputs {
    display: flex;
    flex-direction: row;
    width: 900px
}

.procedure-failure-row-input {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.select-procedure-btn {
    background-color: rgb(179, 179, 179);
    width: 20%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-procedure-btn:hover {
    background-color: #d1d1d1;
}

.add-update-failure-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-update-failure-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px
}

.add-update-failure-title {
    font-size: 30px
}

.add-update-failure-top {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}

.add-update-failure-back-btn {
    width: 80px;
    height: 30px
}

.add-update-failure-back-btn-invisible {
    width: 80px
}

.add-update-failure-title-input {
    height: 50px;
    width: 900px;
    border: 1px solid #ddd;
}

.add-update-failure-procedure-title-input {
    height: 50px;
    border: 1px solid #ddd;
}

.add-update-failure-description-input {
    width: 900px;
    height: 300px;
    font-size: 15px;
    border: 1px solid #ddd;
}

.add-update-failure-input-error {
    border: 1px solid #ff0000;
}

.failure-form-error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 5px 0;
}


/* .inputs-row{
    display: flex;
    flex-direction: ;
} */

@media (height < 1350px) {
    .add-update-failure-description-input {
        width: 900px;
        height: 250px;
        font-size: 15px;
        border: 1px solid #ddd;
    }
}

@media (height < 1200px) {
    .add-update-failure-description-input {
        width: 900px;
        height: 150px;
        font-size: 15px;
        border: 1px solid #ddd;
    }
}


@media screen and (max-width: 2500px) {
    .procedure-add-btn {
        background-color: rgb(223, 202, 20);
        border-color: rgba(0, 0, 0, 0.24);
        color: #000000;
        border-radius: 12px;
        width: 12%;
        height: 75%;
        font-size: 14px;
        font-weight: bold;
        margin-right: 3%;
    }

    .add-update-procedure-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .add-update-procedure-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px
    }

    .add-update-procedure-title {
        font-size: 30px
    }

    .add-update-procedure-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .add-update-procedure-back-btn {
        width: 80px
    }

    .add-update-procedure-back-btn-invisible {
        width: 80px
    }

    .add-update-procedure-title-input {
        width: 550px;
        height: 45px;
        font-size: 12px;
        border: 1px solid #ddd;
    }

    .add-update-procedure-title-input-error {
        border: 1px solid #ff0000;
    }

    .add-update-procedure-description-input {
        width: 550px;
        height: 475px;
        font-size: 12px;
        border: 1px solid #ddd;
    }

    .add-update-procedure-description-input-error {
        border: 1px solid #ff0000;

    }

    .procedure-container {
        min-height: 175px;
    }
}