html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    margin: 0;
}

.div-empty-space {
    display: flex;
    flex: 1;
}

body {
    overflow: hidden;
}

.new-item-nav-btn {
    margin-right: 2%;
}

.new-item-nav-btn {
    background-color: rgb(223, 202, 20);
    border-color: rgba(0, 0, 0, 0.24);
    color: #000000;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
}

.new-item-nav-link {
    text-decoration: none;
    width: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3%;

}

.btn {
    background-color: rgb(223, 202, 20);
    border-color: rgba(0, 0, 0, 0.24);
    color: #000000;
    border-radius: 12px;
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
}

.btn-effect:hover {
    background-color: rgba(255, 235, 59, 0.473);
    border-color: rgba(255, 235, 59, 0.473);
    color: #000000;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 50px
}

.middle {
    display: flex;
    flex-direction: row;
    gap: 50px
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-button-link {
    width: 50vw;
}

.back-button {
    width: 75px;
}

.invisible-back-button {
    width: 75px;
}

/* Global dropdown and input*/

.label-input {
    display: flex;
    flex-direction: column;
}

.Dropdown-control {
    width: 350px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.react-dropdown-select {
    height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.react-dropdown-select-content {
    width: 318px;
    overflow-y: auto;
}

.dropdown {
    border: 1px solid #ddd;
}

.input {
    width: 350px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.invisible-input {
    width: 330px;
    height: 30px;
    padding: 10px;
    border: none
}

label,
input {
    display: block;
}

/* Errors */

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}

.error-div {
    height: 30px
}

.dropdown-error {
    border: 1px solid #ff0000;
}

.input-error {
    border: 1px solid #ff0000;
    width: 350px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Home */

.home {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%
}

/* Sidebar */

.sidebar {
    height: 100%;
    width: 13.5%;
    margin: 0;
    background: linear-gradient(#424242, #212121);
}

.pages {
    height: 100%;
    width: 100%;
    margin: 0;
}

.sidebarRoutes {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 50%
}

.sidebarRoutes .sidebarRoute {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 25px;
    width: 100%;
    height: 55px;
    text-decoration: none;
    align-content: space-between;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebarRoutes .sidebarRoute:hover {
    cursor: pointer;
    background-color: #1e1d1d;
}

.sidebar-user-icon {
    margin: 0;
    font-size: 80px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.sidebarItems .sidebarLogoutIconButton {
    margin-left: 40%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebarLogoutIconButton:hover {
    cursor: pointer;
    background-color: #2e2d2d;
}

.sidebarLogoutIcon {
    margin: 0;
    color: white;
}

.sidebar-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.sidebar-user-name {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.sidebar-user-role {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.org-name {
    font-size: 18px;
    color: rgb(183, 183, 183);
}

/* Select Asset Modal */
.select-asset-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

.select-asset-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px;
    height: 85%;
    width: 65%;
}

.select-asset-modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
    flex-direction: row;
    /* width: 100%;
    height: 100%;
    background-color: #ddd; */
}

.select-asset-save-btn {
    margin-top: 100px;
}

/* Select Procedure Modal */

.select-procedure-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

.select-procedure-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px;
    height: 80%;
    width: 80%;
}

.select-procedure-modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
    flex-direction: row;
    width: 80%;
    background-color: #ddd;
}

.clicked {
    border: 5px solid rgb(25, 0, 255);
    box-shadow: 0 0 0px rgb(255, 255, 255);
}

.border {
    background-color: white;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 0 0px rgb(255, 255, 255);
}


/* No Items Component */
.no-items-available-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    height: 100%;
    width: 100%
}

.no-items-description {
    font-size: 30px;
}

@media screen and (max-width: 2000px) {
    .sidebar {
        height: 100%;
        width: 15%;
        margin: 0;
        background: linear-gradient(#424242, #212121);
    }

    .sidebarRoutes {
        display: flex;
        flex-direction: column;
    }

    .sidebarRoutes .sidebarRoute {
        font-size: 18px;
        height: 30px;
    }

    .sidebarLogoutIconButton {
        margin-left: 40%;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        /* Remove background color if any */
        border: none;
        /* Remove border if any */
        cursor: pointer;
    }

    .new-item-nav-link {
        width: 10%
    }
}

@media screen and (max-width: 1400px) {
    .add-user-form {
        display: flex;
        align-items: center;
        row-gap: 20px
    }

    .top {
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .middle {
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .bottom {
        display: flex;
        flex-direction: column;
    }

    .add-user-container {
        margin-top: 150px;
    }

    .back-button-link {
        display: flex;
        justify-content: flex-start;
        width: 70vw;
    }
}

@media screen and (max-width: 1900px) {

    .back-button-link {
        display: flex;
        justify-content: flex-start;
        width: 70vw;
    }

}