/* Repairs Page */

.repairs {
    height: 100%;
    width: 100%;

}

.repairs-title {
    margin-left: 1%;
}

.repairs-header {
    display: flex;
    flex-direction: row;
    height: 5.5%

}

.add-update-repair-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

}

.add-update-repair-container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /*
    justify-content: center;
    */
    overflow: auto;


}

.add-update-repair-title {
    font-size: 30px
}


.input {
    width: 100%;
    /* Adjust as needed */
    max-width: 120px;
    /* Set a maximum width if necessary */
}


.textarea {
    width: '10%';
    height: '400px';
}

.procedure-details {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.procedure-details>div {
    margin-right: 20px;
}


.complete-incomplete-select-bar {
    height: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px;
    margin-bottom: 10px */
}

.complete {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    box-sizing: border-box;
}

.complete-clicked {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-top: 3px solid white;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(14, 14, 209);
}

.complete:hover {
    background-color: rgb(245, 245, 245);
    border-bottom: 3px solid rgb(245, 245, 245);
    border-top: 3px solid rgb(245, 245, 245);
}

.complete-clicked:hover {
    background-color: rgb(245, 245, 245);
    border-top: 3px solid rgb(245, 245, 245);
}

.incomplete {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    box-sizing: border-box;
}

.incomplete-clicked {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 15px;
    box-sizing: border-box;
    border-top: 3px solid white;
    border-bottom: 3px solid rgb(14, 14, 209);
}

.incomplete:hover {
    background-color: rgb(245, 245, 245);
    border-bottom: 3px solid rgb(245, 245, 245);
    border-top: 3px solid rgb(245, 245, 245);
}

.incomplete-clicked:hover {
    background-color: rgb(245, 245, 245);
    border-top: 3px solid rgb(245, 245, 245);
}

.repairs-hr-divider {
    color: black;
    margin: 0;
}

.repairs-vr-divider {
    height: 30px;
    border: none;
    border-left: 1px solid black;
    margin: 0 auto;
}


.dropdown-disabled {
    color: #6f6767;  
    background-color: #d6d6d6; 
    border: 2px solid #adadad; 
    cursor: not-allowed;      
}




@media screen and (max-width: 1400px) {
    .add-update-repair-form {
        
        display: flex;
        align-items: center;
        row-gap: 20px;

    }

    .add-update-repair-container {
        margin-top: 150px;
    }
    
}