/* Users Page */

.teams {
    height: 100%;
    width: 100%;
}

.teams-title {
    margin-left: 1%;
}

.teams-header {
    display: flex;
    flex-direction: row;
}

.add-update-team-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px
}

.add-update-team-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-update-team-title {
    font-size: 30px
}

.add-update-team-inputs-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px
}

.users-select .css-b62m3t-container {
    min-height: 50px;
    height: 50px;
    width: 350px
}

.css-13cymwt-control {
    min-height: 50px;
    height: 50px;
    width: 350px
}

.css-t3ipsp-control {
    min-height: 50px !important;
    transition: none !important;
}

@media screen and (max-width: 1400px) {
    .add-update-team-form {
        display: flex;
        align-items: center;
        row-gap: 15px
    }

    .add-update-team-container {
        margin-top: 150px;
    }
}